extends layout

block content
  h2 Congratulation! Your email has been verified
  p You can now go to #[a(href=afterEmailVerificationRedirectionUrl) Sign In] page to sign in with your new account
  br
  br
  img(src="/images/checked.png")
