doctype html
html(lang="en")
  head
    title Takapic account verification
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      .img-logo-container
        img(src="/images/Logo-250px.png")
      h1 Email verification


    .container
      .main-content
        block content
