extends layout

block content
  p(class='customer-hello') Hello, #{CUSTOMER_NAME}
  p Follow this link to verify your email address.
  a(href=BASE_HOSTNAME + '/web-provider/email-action-handler/verify-email?uid=' + UID) #{BASE_HOSTNAME}/web-provider/email-action-handler/verify-email?uid=#{UID}
  p If you didn't ask to verify this email address, you can ignore this email.
  p Thanks,
  p Your Takapic Team
