extends layout_new

block content
  div(style="margin-bottom: 30px;padding-bottom: 20px;border-bottom: dashed #ddd;")
    img(src="https://res.cloudinary.com/dvdm9a68v/image/upload/c_scale,w_180/v1548052652/assets/calendar_x.png" alt="Email Notif" style="display: block;margin: auto;")


  p(style="font-size:22px;color:#222222;font-weight:bold;") Don’t worry, we’re working on it!

  p Dear <strong>#{TRAVELLER_NAME}</strong>

  p Your chosen photographer is unfortunately not able to take your booking request and has informed us of his sincere apologies.

  br

  p
    strong What’s next?

  p Sit tight! Our team is currently working hard to find another quality photographer that will suit your needs. You will hear from one of us personally within 24 hours.

  br

  div(style="width: 100%; margin-top: 30px; padding: 20px 0; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc;")
    div(style="display: inline-block; width: 55%;") Any question, please contact our customer support

    div(style="display: inline-block; color: #3aeccb; width: 40%; float: right; text-align: right;") support@takapic.com

  br

  p
    strong With Love, Takapic

  