extends layout_new

block content
  div(style="margin-bottom: 30px;padding-bottom: 20px;border-bottom: dashed #ddd;")
    img(src="https://res.cloudinary.com/dvdm9a68v/image/upload/c_scale,w_180/v1548052652/assets/bills_notif.png" alt="Email Notif" style="display: block;margin: auto;")
  
  p Hi <strong>#{CUSTOMER_NAME}</strong>,
  
  p This is a friendly reminder to finish your payment to book <strong>#{PHOTOGRAPHER_NAME}</strong> photography’s service! 
 
  br

  a(style="text-align:center;border-radius:7px; font-size:15px;color:white;text-decoration:none; padding:14px 7px 14px 7px; width:260px;display:block;background-color:#3aeccb; margin: auto;margin-bottom: 30px;" href=PAYMENT_LINK) Finish Payment

  p Don’t let others steal your favorite photographer!
 
  p If you face any difficulty in completing the payment, we are here to help!
 
  p Please reach us at support@takapic.com
 
  p With Love, Takapic
